.body-wrap.relative
  scoot-loading.ng-isolate-scope
    #loader.spinner-wrapper(style='display: none;')
      .skoot-spinner-v2.ng-hide(ng-hide='timeOut')
        .spinner
          .cube1
          .cube2
      // ngIf: isCandidate()
      // ngIf: isCompany()
      .text-center.timeout-msg(ng-show='timeOut')
        img.logo-grayscale(src='images/logo.png')
        p
          | We're sorry, things don't appear to be working at the moment. Please try refreshing the page.
  // uiView:
  .ng-scope(ui-view='')
    .contact-us.ng-scope
      .container-fluid.np.title
        img.hidden-xs(src='images/covers/team-min.jpg')
        h1 How can we help you?
        .clearfix
      .container-fluid.np
        .row-md-height.row-lg-height
          .col-xs-12.col-sm-12.col-md-6.np
            .col-xs-12.col-sm-12.col-md-11.col-lg-10.pull-right.content-bottom
              .col-xs-12.col-sm-6
                h4.block-label
                  i.fa.fa-map-marker(aria-hidden='true')
                  |  Address
                .block-content
                  p Skoot Jobs Malaysia Sdn. Bhd.
                  p LaunchPad 2, D2-05-01
                  p Bukit Utama 1
                  p Changkat Bukit Utama PJU 6
                  p Bandar Utama
                  p 47800 Petaling Jaya
                  p Selangor Malaysia
              .col-xs-12.col-sm-6
                h4.block-label
                  i.fa.fa-envelope(aria-hidden='true')
                  |  Email
                p helpdesk@skootjobs.com
              .col-xs-12
                h4.block-label Get in touch
                .contact-form
                  form.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(ng-submit='submit()', name='contactus', novalidate='')
                    // ngIf: msgSent
                    .row(ng-hide='msgSent')
                      .form-group.col-xs-12
                        input.form-control.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='text', placeholder='Name *', ng-model='contactName', name='contactName', ng-required='true', required='required')
                      .form-group.col-xs-12
                        input.form-control.ng-pristine.ng-untouched.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required(type='email', placeholder='Email *', ng-model='contactEmail', name='contactEmail', ng-required='true', required='required')
                      .clearfix
                      .form-group.col-xs-12
                        textarea.form-control.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(placeholder='Message', ng-model='contactMessage', name='contactMessage', ng-required='true', required='required')
                      .clearfix
                      .col-xs-12
                        button.btn.btn-md.btn-red-new.pull-left.btn-submit-contact(ng-disabled='sending')
                          // ngIf: !sending
                          span.ng-scope(ng-if='!sending') Contact Us
                          // end ngIf: !sending
                          // ngIf: sending
                      .clearfix
          .col-xs-12.col-sm-12.col-md-6.map.np
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7967.64326188512!2d101.59980063171587!3d3.1417473540757155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4ec55932a1f3%3A0x853817fc165ec198!2sSkoot+Jobs!5e0!3m2!1sen!2sru!4v1461225336400', width='600', height='400', frameborder='0', style='border:0', allowfullscreen='')
