div.home-section1
  div.container
    div.section1-content
      h1.title Search From Thousands of Jobs in Malaysia
      p.desc Join Over 200,000 Candidates Today
      div.buttons
        a.join-now Join Now
        a.how-it-works How it works
      a.employer(href="") Employer? Post a job for free and start hiring now
    div.search-box
      div.col-md-4
        label Job Title or Keywords:
        input.form-control
      div.col-md-4
        label Location:
        input.form-control
      div.col-md-4
        input.btn.btn-danger.search-job(value="JOB SEARCH")