div.home-section1
  div.container
    div.section1-content
      h1.title Search From Thousands of Jobs in Malaysia
      p.desc Join Over 200,000 Candidates Today
      div.buttons
        a.join-now(href="") Join Now
        a.how-it-works(href="") How it works
      a.employer(href="") Employer? Post a job for free and start hiring now
    div.search-box
      div.col1
        label Job Title or Keywords:
        input.form-control(value="Sales Promoter")
      div.col2
        label Location:
        input.form-control
      div.col3
        button.search-job JOB SEARCH


div.home-section2
  div.container
    h3.section-title.text-uppercase Employers hiring right now
    p.section-desc Among some of Malaysia’s top employers posting vacancies on our platform
    div.items
      a.item(href="")
        img(src="images/employers/logo1.png")
      a.item(href="")
        img(src="images/employers/logo2.png")
      a.item(href="")
        img(src="images/employers/logo3.png")
      a.item(href="")
        img(src="images/employers/logo4.png")
      a.item(href="")
        img(src="images/employers/logo5.png")
      a.item(href="")
        img(src="images/employers/logo6.png")
      a.item(href="")
        img(src="images/employers/logo7.png")
      a.item(href="")
        img(src="images/employers/logo8.png")
      a.item(href="")
        img(src="images/employers/logo9.png")
      a.item(href="")
        img(src="images/employers/logo10.png")
      a.item(href="")
        img(src="images/employers/logo11.png")
      a.item(href="")
        img(src="images/employers/logo12.png")
      a.item(href="")
        img(src="images/employers/logo13.png")
      a.item(href="")
        img(src="images/employers/logo14.png")
      a.item(href="")
        img(src="images/employers/logo15.png")
      a.item(href="")
        img(src="images/employers/logo16.png")
      a.item(href="")
        img(src="images/employers/logo17.png")
      a.item(href="")
        img(src="images/employers/logo18.png")
      a.item(href="")
        img(src="images/employers/logo19.png")
      a.item(href="")
        img(src="images/employers/logo20.png")
      a.item(href="")
        img(src="images/employers/logo21.png")
      a.item(href="")
        img(src="images/employers/logo22.png")
      a.item(href="")
        img(src="images/employers/logo23.png")
      a.item(href="")
        img(src="images/employers/logo24.png")
      a.item(href="")
        img(src="images/employers/logo25.png")
      a.item(href="")
        img(src="images/employers/logo26.png")
      a.item(href="")
        img(src="images/employers/logo27.png")
      a.item(href="")
        img(src="images/employers/logo28.png")
      a.item(href="")
        img(src="images/employers/logo29.png")
      a.item(href="")
        img(src="images/employers/logo30.png")
      a.item(href="")
        img(src="images/employers/logo31.png")
      a.item(href="")
        img(src="images/employers/logo32.png")
      a.item(href="")
        img(src="images/employers/logo33.png")
      a.item(href="")
        img(src="images/employers/logo34.png")
      a.item(href="")
        img(src="images/employers/logo35.png")
      a.item(href="")
        img(src="images/employers/logo36.png")


div.home-section3
  div.container
    h3.section-title.text-uppercase Connecting you to the right job
    div.section-desc
      span Discover jobs in Malaysia with 3 simple steps
    div.row
      div.col-md-5
        img.mobile-pic(src="images/section3-mobile.png")
      div.col-md-7
        div.steps
          div.step.clearfix
            img.step-img(src="images/section3-step1.jpg")
            h4.step-title 1. Create your candidate account
            p.step-desc 
             | Create your Candidate account to get matched to the best opportunities for you. Keep your education and experience as up to-date as possible.
          div.step.clearfix
            img.step-img(src="images/section3-step2.jpg")
            h4.step-title 2. Get matched to jobs
            p.step-desc 
             | Based on your profile and info given, SkootJobs will match you to the best jobs for you. Then you can start messaging and applying for these jobs immediately.
          div.step.clearfix
            img.step-img(src="images/section3-step3.jpg")
            h4.step-title 3. Apply quickly and easily
            p.step-desc 
             | When you see jobs you like, apply quickly and easily. Once you’ve applied, SkootJobs saves your contact details and resume, making future applications easy.


div.home-section4
  div.container
    div.row
      div.col-md-4
        div.numeric-item
          span.numeric-number 4500+
          span.numeric-label Live Jobs
      div.col-md-4
        div.numeric-item
          span.numeric-number 200000+
          span.numeric-label Candidates
      div.col-md-4
        div.numeric-item
          span.numeric-number 8000+
          span.numeric-label Businesses


div.home-section5
  div.container-fluid
    h3.section-title.text-center.text-uppercase Browse our most popular categories
    div.categories.clearfix(class="owl-carousel owl-theme")
      div.item
        div
          img.cat-img(src="images/categories/cat1.jpg")
          div.cat-info
            h3.cat-info-title
              a(href="") Computer & IT
            p.cat-info-stat 2,464 Jobs
      div.item
        div
          img.cat-img(src="images/categories/cat2.jpg")
          div.cat-info
            h3.cat-info-title
              a(href="") Customer Service, Sales & Retail
            p.cat-info-stat 2,021 Jobs
      div.item
        div
          img.cat-img(src="images/categories/cat3.jpg")
          div.cat-info
            h3.cat-info-title
              a(href="") Education & Training
            p.cat-info-stat 1,452 Jobs
      div.item
        div
          img.cat-img(src="images/categories/cat4.jpg")
          div.cat-info
            h3.cat-info-title
              a(href="") Marketing
            p.cat-info-stat 2,630 Jobs
      // -
        div.col-md-3
          div.item
            img.cat-img(src="images/categories/cat5.jpg")
            div.cat-info
              h3.cat-info-title
                a(href="") Accounting & Finance
              p.cat-info-stat 870 Jobs
        div.col-md-3
          div.item
            img.cat-img(src="images/categories/cat6.jpg")
            div.cat-info
              h3.cat-info-title
                a(href="") Admin, HR & Managment
              p.cat-info-stat 1,096 Jobs
        div.col-md-3
          div.item
            img.cat-img(src="images/categories/cat7.jpg")
            div.cat-info
              h3.cat-info-title
                a(href="") Engineering
              p.cat-info-stat 1,250 Jobs
        div.col-md-3
          div.item
            img.cat-img(src="images/categories/cat8.jpg")
            div.cat-info
              h3.cat-info-title
                a(href="") Food & Beverage
              p.cat-info-stat 1,600 Jobs
    div.clearfix
    p.section-desc.text-center or view all jobs by location, category, role and...
    a.job-search.text-uppercase.btn(href="")
      <i class="fa fa-search" aria-hidden="true"></i>
      | Search Jobs


div.home-section6
  div.container
    h3.section-title.text-center.text-uppercase What People Are Saying About Us
    div.testimonials.row
      div.col-md-4
        div.item.text-center
          div.testimonial-img
            img(src="images/testimonial1.jpg")
          h4.testimonial-name Tengku Muzani
          div.testimonial-stars
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
          p.testimonial-content
            | "When I think of SkootJobs, I think of two things: Easy to use and great support when I need it"
      div.col-md-4
        div.item.text-center
          div.testimonial-img
            img(src="images/testimonial2.jpg")
          h4.testimonial-name Dulanjalee
          div.testimonial-stars
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
          p.testimonial-content
            | "Within days of using SkootJobs, I managed to secure a job with a good company that I really enjoy working with. I couldn’t believe it was that fast!"
      div.col-md-4
        div.item.text-center
          div.testimonial-img
            img(src="images/testimonial3.jpg")
          h4.testimonial-name Maya Zaharudin
          div.testimonial-stars
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
            img(src="images/star.png",alt="star")
          p.testimonial-content
            | "SkootJobs has made my job search easier and more efficient. It’s easy to browse through jobs and the job matches save me a lot of time in finding what I’m after."
      


div.home-section7
  div.container
    h3.section-title.text-uppercase Trusted by the most prominent names
    div.company-trusted
      div.item
        img.company-trusted-img(src="images/company-trusted-logo1.jpg")
        h3.company-trusted-title.text-uppercase Company Name Goes Here
        p.company-trusted-desc
         | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      div.item
        img.company-trusted-img(src="images/company-trusted-logo2.jpg")
        h3.company-trusted-title.text-uppercase Company Name Goes Here
        p.company-trusted-desc
         | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      div.item
        img.company-trusted-img(src="images/company-trusted-logo3.jpg")
        h3.company-trusted-title.text-uppercase Company Name Goes Here
        p.company-trusted-desc
         | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      div.item
        img.company-trusted-img(src="images/company-trusted-logo4.jpg")
        h3.company-trusted-title.text-uppercase Company Name Goes Here
        p.company-trusted-desc
         | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    div.logos
      a.item(href="")
        img(src="images/employers/logo1.png")
      a.item(href="")
        img(src="images/employers/logo2.png")
      a.item(href="")
        img(src="images/employers/logo3.png")
      a.item(href="")
        img(src="images/employers/logo4.png")
      a.item(href="")
        img(src="images/employers/logo5.png")
      a.item(href="")
        img(src="images/employers/logo6.png")
      a.item(href="")
        img(src="images/employers/logo7.png")
      a.item(href="")
        img(src="images/employers/logo8.png")
      a.item(href="")
        img(src="images/employers/logo9.png")
      


div.home-section8
  div.container
    h4.section-title.text-uppercase What are you waiting for?
    p.section-desc 
      | Create your candidate account in 3 simple
      br
      | steps and start applying to jobs
    a.btn.sign-up
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      | Sign Up Now
