.scoot-pagination
  .paging-wrap(ng-class="{'deactivate': vm.pageIsLoading == true}")
    .paging-cover
    dir-pagination-controls(template-url='mvc/views/directives/dirPagination.tpl.html')
      // ngIf: 1 < pages.length || !autoHide
      ul.pagination.ng-scope(ng-if='1 < pages.length || !autoHide')
        // ngIf: boundaryLinks
        // ngIf: directionLinks
        li.inactive(ng-if='directionLinks', ng-class='{ inactive : pagination.current == 1 }')
          a(href='')
            i.fa.fa-caret-left(aria-hidden='true')
        each page in pages  
         li(class= (pagination.current != page.number?'active':'disabled'))
           a(href=page.url)= page.number

        li.ng-scope(ng-if='directionLinks', ng-class='{ inactive : pagination.current == pagination.last }')
          a(href='', ng-click='setCurrent(pagination.current + 1)')
            i.fa.fa-caret-right(aria-hidden='true')
        // end ngIf: directionLinks
        // ngIf: boundaryLinks
      // end ngIf: 1 < pages.length || !autoHide