.body-wrap.relative
  scoot-loading.ng-isolate-scope
    #loader.spinner-wrapper(style='display: none;')
      .skoot-spinner-v2(ng-hide='timeOut')
        .spinner
          .cube1
          .cube2
      // ngIf: isCandidate()
      // ngIf: isCompany()
      .text-center.timeout-msg.ng-hide(ng-show='timeOut')
        img.logo-grayscale(src='https://www.skootjobs.com/images/logo.png')
        p
          | We're sorry, things don't appear to be working at the moment. Please try refreshing the page.
  // uiView:
  .ng-scope(ui-view='')
    .page-has-form.signup.skoot-cover.ng-scope(ng-controller='registerPageController')
      .signup-top
        h1.heading.text-center(translate='') Start Recruiting Candidates On SkootJobs Today
        .form-top-text.text-center.text-inverse.hidden-xs
          p.ng-binding Over 8,000+ companies in Malaysia have joined us
        .form-top-text.text-center.text-inverse.hidden-xs
          p(translate='') What Are You Waiting For?
        .clearfix
      .form-container-wrapper
        form.ng-invalid.ng-invalid-required.ng-valid-pattern.ng-valid-minlength.ng-valid-maxlength.ng-valid-email.ng-dirty(name='companyRegister', ng-submit='companySubmit(companyRegister, company)', novalidate='')
          .inputs-container
            input#company-name.form-input.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required.ng-valid-pattern.ng-valid-minlength.ng-valid-maxlength(name='companyname', ng-model='company.companyName', type='text', ng-minlength='2', placeholder='Company name', ng-maxlength='50', ng-required='true', ng-pattern="/^[a-zA-Z0-9- &+@',.]+$/", required='required')
            // ngIf: ((companyRegister.companyname.$touched || companyRegister.$submitted) && companyRegister.companyname.$invalid)
            hr
            input#company-email.form-input.ng-valid-email.ng-not-empty.ng-dirty.ng-valid.ng-valid-required.ng-touched(name='company-email', ng-model='company.email', ng-change="companyRegister['candidate-email'].$setValidity('uniqueness', true)", type='email', placeholder='Email', ng-required='true', required='required')
            
            hr
            input#company-password.form-input.ng-pristine.ng-untouched.ng-empty.ng-valid-pattern.ng-invalid.ng-invalid-required(ng-model='company.password', type='password', name='company-password', placeholder='Password', pattern='.{6,16}', ng-required='true', required='required')
           
          //
            <div class="login-fb">
            <a href="{{apiDomain}}/auth/fb/login">
            <i class="fa fa-facebook-square" aria-hidden="true"></i><span>Sign Up Using Facebook</span>
            </a>
            </div>
          // ngIf: loading
          // ngIf: !loading
          button.form-btn-submit.ng-scope(ng-if='!loading', type='submit', translate='') Sign Up
          // end ngIf: !loading
      .col-xs-12.form-bottom-options.text-inverse.text-center
        | Already have a SkootJobs account? 
        a(ui-sref='company-login', href='/company/login')
          span Log In
      .col-xs-12.form-bottom-options.text-inverse.text-center
        | By signing up you agree to the 
        a(ui-sref='privacy-policy', href='/privacy-policy') Privacy Policy, 
        a(ui-sref='terms-of-use', href='/terms-of-use') Terms Of Use
      .clearfix

