html
  include ./includes/head.pug
  body.home
   
    .page-sidebar-left-red.page-list-jobs.search-page-bg.demo-bg.sidebar-grey
      
      .container-fluid.search-result-container
        .search-top
          .col-xs-12
            .inner
          .clearfix
        include ./includes/pagination.pug
                              
          
        ul.jobs-list.col-lg-10.col-lg-push-1
          each job in jobs
            li.jobs-list-item._old
              jobs-list-item(job='item')
                .panel.panel-default(class=job.packageName=="Basic" ? "" : "featuredjob")
                  .panel-body.has-distance
                    .col-xs-12.col-sm-3.col-md-2.col-lg-05.job-img.hidden-xs
                      a(href='/job')
                        span.thumbnail.no-bottom-margin
                          .job-item-img.square(style="background-image: url('images/companies/logo-placeholder.jpg');")
                    .col-xs-12.col-sm-6.col-md-7.col-lg-8.col-lg-75.job-listing-info
                      h3.position
                        a.job-title(target='_blank', href='/job')= job.title
                      .job-details
                        .company.biz-name.hidden-xs
                          a.company-name(href='/culture')
                            i.fa.fa-building-o(aria-hidden='true')
                            | #{job.businessId.name}
                        .company.visible-xs
                          i.fa.fa-building-o(aria-hidden='true')
                          span.biz-name-xs  U.A.K ONLINE NETWORK RESOURCES
                          .response-rate-xs
                        .time
                          i.fa.fa-clock-o
                          span 9 hours ago
                        .salary
                          span
                            span.i.i-rm.currency
                            |  2,000 - 3,000 /month
                        .address
                          span
                            i.fa.fa-map-marker
                            |  Malaysia
                        .distance
                          span
                            i.fa.fa-globe
                            |  0km away
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.job-actions
                      .col-save
                        a.save-this-job(target='_blank', href='')
                          i.fa.fa-eye(aria-hidden='true')
                          |  View More Details
                      .col-apply
                        a.job-action-btn.apply-now.btn.btn-md.btn-block.btn-red-new Apply now
        include ./includes/pagination.pug

                              

  include ./includes/footer.pug
