- function slug(title) { return title.replace(/ /g, '-').replace(/\//g, '-or-').replace(/\\/, '~~').replace("&", "-and-").replace("---", "-").replace("--", "-").toLowerCase(); };
html
	include ./includes/head.pug
	body.home
	include ./includes/nav.pug
	div.job-search
		.search-filters
			form(action='/search/').home-section1
				div.container
					div.row
						.col-lg-8
							div.col-xs-5.cp
								input.filter-input(type="text", name="keyword", placeholder="Keyword or Job Title" value=params["keyword"])
							div.col-xs-5.cp
								input.filter-input(type="text", name="location", placeholder="Location" value=params["location"])
							div.col-xs-2.cp
								button.all-filters Search							
		.jobs-container
			.row
				.col-lg-8
					include ./includes/pagination.pug
			.jobs-list-container.col-lg-8
				each job in jobs
					.job-item(class=job.packageName=="Basic" ? "" : "featuredjob")
						.highlight
							i.fa.fa-star
						.job-logo-container
							.job-logo
								img(src="images/companies/logo-placeholder.jpg")
						.job-content
							a.job-title(href="/job/" + job._id + "/" + slug(job.title))
									h3=job.title
							.job-buttons
								button.btn-view-job View Details
								button Apply Now
							div.clearfix
							a.bizname(href="") 
								i.fa.fa-building-o
								| OAS MEDIA
							.about-biz
								p OAS provides professional advertising consultancy services to cater to client business needs, among the professional advertising consultancy services that we are providing : Business License ...
							.job-details
								.location
									i.fa.fa-map-marker
									| Persiaran Pegaga, Selangor, Malaysia
								.time
									| 12 hours ago
								.salary
									asd
									| RM 2,000 - 4,000 /month
						.clearfix
			.col-lg-4
				iframe(style:'display:none')
			.clearfix
	.clearfix
	include ./includes/footer.pug
