@import "mixins";
@import "settings";
@import "plans";
@import "owl";



.skoot-home {

    .row-md-height {
        @media #{$md} {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .row-lg-height {
        @media #{$lg} {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }
    .darktransparent {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(40, 40, 49, 0.75);
    }

    .tinySignup {
        position: fixed;
        bottom: 30px;
        margin: auto;
        left: 0;
        right: 0;
        background: $color7;
        width: 180px;
        padding: 0px 5px;
        border-radius: 50px;
        text-align: center;
        color: #FFF;
        z-index: 40;
        display: none;
        @media #{$xs_p} {
            display: none !important;
        }
        a {
            color: #FFF;
            display: inline-block;
            float: none;
            text-align: center;
            padding: 10px 0 10px 0;
            &.dismiss {
                width: 30px;
                float: right;
                display: inline-block;
                padding: 10px 0;
                position: absolute;
                right: 6px;
                &:after {
                    content: "";
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: #f57272 !important;
                    position: absolute;
                    left: -2px;
                    border: none;
                    overflow: hidden;
                }
            }
            @include h_f {
                text-decoration: none !important;
            }
        }
        @include h_f {
            background: #d32020 !important;
        }
    }
    .home-top {
        background: url('../images/covers/home.jpg') no-repeat;
        background-size: cover;
        padding-top: 70px;
        min-height: 800px;
        position: relative;
        background-position: 0 0;
        @media #{$xs_sm} {
            padding-top: 40px;
        }
        @media #{$xs_sm} {
            min-height: auto;
            background-position: 90% top;
            padding-bottom: 150px;
        }
        @media #{$sm_md} {
            padding-top: 80px;
        }
        &.candidate {
            background: url('../images/covers/skoot-cover-min.jpg') no-repeat;
            background-size: cover;
            @media #{$xs_sm} {
                background-position: 68% top;
            }
            @media #{$xs} {
                padding-top: 0;
                padding-bottom: 50px;
                background: url('../images/covers/skoot-cover-m.jpg') no-repeat;
                background-size: cover !important;
                background-position: left bottom !important;
                .darktransparent {
                    background: rgba(40, 40, 49, 0.55) !important;
                }
                .form-control {
                    min-height: 60px !important;
                    font-size: 18px !important;
                }
                .top-search {
                    .btn {
                        padding: 15px !important;
                    }
                    .col {
                        .fa {
                            top: 22px !important;
                        }
                    }
                }
            }
            .mobile-search {
                .form-control {
                    background: rgba(0, 0, 0, 0.3);
                    color: #FFF;
                    padding-left: 40px;
                    &:focus {
                        border-color: #FFF;
                        outline: 0;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075);
                    }
                    @media #{$xs_sm} {
                        margin-bottom: 10px;
                    }
                }
                .col {
                    position: relative;
                    .fa {
                        position: absolute;
                        top: 12px;
                        left: 30px;
                        color: #FFF;
                    }
                }
            }
            .top-search {
                background: rgba(59, 61, 69, 0.80);
                color: #FFF;
                padding: 30px 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                .errors-tooltip {
                    position: absolute;
                }
                >.container {
                    @media #{$sm} {
                        width: 100% !important;
                    }
                }
                @media #{$xs_sm} {}
                @media #{$xs} {
                    background: none;
                    position: static;
                    padding: 10px;
                    .form-control {
                        background: rgba(59, 61, 69, 0.60) !important;
                    }
                    .btn {
                        font-size: 15px !important;
                        border-radius: 5px !important;
                        font-weight: 700 !important;
                        &.btn-grey-new {
                            background: #4d4f55 !important;
                        }
                    }
                }
                .form-control {
                    background: transparent;
                    color: #FFF;
                    padding-left: 40px;
                    &:focus {
                        border-color: #FFF;
                        outline: 0;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075);
                    }
                    @media #{$xs_sm} {
                        margin-bottom: 10px;
                    }
                }
                .col {
                    position: relative;
                    .fa {
                        position: absolute;
                        top: 12px;
                        left: 30px;
                    }
                }
                .btn {
                    padding: 10px 15px;
                }
            }
        }
        &.company {
            background: url('../images/covers/homecomp-min.jpg') no-repeat;
            background-size: cover;
            background-color: $color16;
            background-position-y: -200px;

            .arrow-bounce {
                bottom: 200px;
            }
            @media(max-width: 1600px) {
                background-position-y: initial !important;
            }
            @media #{$xs} {
                padding-top: 0;
                background: url('../images/covers/homecomp-min-m-min.jpg') no-repeat !important;
                background-position: center right !important;
                background-size: cover !important;
            }
            @media #{$xs_sm} {
                .login-content .btn {
                    margin-bottom: 50px;
                }
            }
            @media #{$xs} {
                .login-content .btn {
                    padding: 15px;
                }
            }
        }
        .login-content {
            padding-top: 60px;
            @media #{$sm_md} {
                padding-top: 40px;
            }
            .top-button {
                position: relative;
                .btn {
                    text-transform: inherit !important;
                }
                &.mobile-button {
                    @media #{$xs} {
                        .btn {
                            background-color: $color2 !important;
                        }
                    }
                }
            }
            .btn {
                font-weight: 700;
                font-family: $font-sans;
                padding: 15px 40px;
                font-size: 20px;
                @media #{$xlg} {
                    padding: 15px 40px;
                    font-size: 22px;
                }
                @media #{$xs} {
                    padding: 10px 20px;
                    font-size: 15px;
                    margin-top: 40px;
                }
            }
            @media #{$xs} {
                padding-top: 20px;
            }
            &.landing {
                padding-top: 40px !important;
            }
        }
        .main-title {
            font-size: 46px;
            font-weight: 700;
            color: #FFF;
            font-family: $font-sans;
            margin: 60px auto 20px;
            position: relative;
            text-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
            @media #{$xlg} {
                font-size: 56px;
            }
            @media #{$sm_md} {
                margin: 30px auto 20px;
                font-size: 36px;
            }
        }
        .sub-title {
            font-size: 22px;
            font-weight: 400;
            color: #FFF;
            font-family: $font-sans;
            margin: 10px auto 60px;
            position: relative;
            @media #{$sm_md} {
                font-size: 18px;
            }
        }
        .login-content {
            .switcher {
                width: 300px;
                margin: 30px auto 10px;
                position: relative;
                @media #{$xs} {
                    width: 100%;
                    a {
                        font-size: 14px !important;
                        line-height: 40px!important;
                        height: 40px !important;
                        font-weight: 400 !important;
                    }
                }
                @media #{$xxs} {
                    margin: 10px auto 10px;
                }
                a {
                    display: inline-block;
                    width: 50%;
                    float: left;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                    background: rgba(59, 61, 69, 0.5);
                    color: #FFF;
                    border: 1px solid #FFF;
                    @include h_f {
                        text-decoration: none;
                        background: rgba(59, 61, 69, 0.8);
                    }
                    &.jobseeker {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border-right: none;
                    }
                    &.employer {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-left: none;
                    }
                    &.active {
                        background: rgba(255, 255, 255, 0.8);
                        color: $color7;
                        @include h_f {
                            background: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
            .form-group {
                position: relative;
                .form-control {
                    background: rgba(0, 0, 0, 0.6);
                    color: #FFF;
                    border: 1px solid #FFF;
                    border-radius: 0px !important;
                    padding: 25px 25px 25px 50px;
                }
                .fa {
                    position: absolute;
                    color: #FFF;
                    top: 12px;
                    left: 15px;
                    font-size: 24px;
                    color: #a2a2a2;
                }
            }
            .ctas {
                margin-bottom: 120px;
            }
        }
    }
    .plans {
        background: $color16;
        .container {
            position: relative;
            top: -120px;
            margin-bottom: -30px;
            @media #{$xs_sm} {
                top: 60px;
                margin-bottom: 0;
            }
            .plan-block {
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
                margin: 0 10px;
                background: #FFF;
                position: relative;
                height: 100%;
                @media #{$xs_sm} {
                    margin-bottom: 100px;
                }
                @media #{$xs} {
                    .price-sec {
                        min-height: auto;
                        .package-price {
                            margin: 10px auto;
                            span.free-span {
                                margin-top: 10px;
                            }
                        }
                    }
                    .features {
                        min-height: auto;
                    }
                }
                &.inactive {
                    .plan-header {
                        background: $color2;
                        .plan-name {
                            background: #3f4146;
                        }
                        .plan-icon {
                            background: $color2;
                        }
                        .price {
                            span {
                                color: $color4;
                            }
                        }
                    }
                }
                .plan-header {
                    background: $color7;
                    .plan-name {
                        background: #d31f2b;
                        padding: 15px 0;
                        text-align: center;
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .plan-icon {
                        background: $color7;
                        padding: 30px 0;
                        text-align: center;
                    }
                    .price {
                        width: 90px;
                        padding-bottom: 90px;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                        background: #FFF;
                        border-radius: 50%;
                        position: absolute;
                        right: -20px;
                        top: -20px;
                        span {
                            border: 1px dashed $color5;
                            border-radius: 50%;
                            position: absolute;
                            left: 5px;
                            right: 5px;
                            top: 5px;
                            bottom: 5px;
                            line-height: 80px;
                            color: $color7;
                            &.price-lg {
                                font-size: 26px;
                            }
                        }
                    }
                }
                .plan-content {
                    background: #FFF;
                    padding: 30px 30px 80px;
                    @media #{$xs} {
                        padding: 30px 15px 80px;
                    }
                    a.toggleFeatures {
                        color: inherit !important;
                        text-decoration: none !important;
                        font-weight: 700 !important;
                    }
                    .free {
                        width: 100%;
                        background: #eeeff2;
                        padding: 5px;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 18px;
                        color: $color2;
                        margin-top: 15px;
                        .inner {
                            border: 1px dashed #d2d3d5;
                            padding: 10px 5px;
                        }
                        span {
                            display: block;
                            color: $color7;
                        }
                    }
                    .plan-price {
                        font-size: 32px;
                        font-weight: 700;
                        color: $color2;
                        margin: 0;
                        em {
                            font-size: 18px;
                            vertical-align: top;
                            font-style: normal;
                        }
                        &.inactive {
                            color: $color4;
                            span {
                                text-decoration: line-through;
                            }
                        }
                    }
                    .period {
                        color: $color2;
                        font-size: 14px;
                        margin-top: 15px;
                        display: block;
                    }
                    .features {
                        margin: 25px 0 20px;
                        padding: 0;
                        list-style: none;
                        li {
                            font-size: 13px;
                            color: $color2;
                            padding: 10px 0;
                            border-bottom: 1px solid $color6;
                            &:first-child {
                                border-top: 1px solid $color6;
                            }
                            &.inactive {
                                color: $color4;
                                text-decoration: line-through;
                            }
                        }
                    }
                    .btn {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 20px;
                        width: 140px;
                        margin: auto;
                    }
                }
            }
        }
    }
    .hiring-now {
        background: #f7f7f7;
        padding: 80px 0;
        &.featured {
            background: #FFF;
            h2 {
                margin-bottom: 60px;
            }
        }
        h2 {
            @include h2;
        }
        h5 {
            @include h5;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .owl-carousel {
            cursor: -webkit-grab;
        }
    }
    .connecting {
        background: #FFF;
        padding: 80px 0;
        .container {
            @media #{$xlg} {
                width: 1200px;
            }
        }
        h2 {
            @include h2;
            @media #{$xs} {
                font-size: 22px !important;
                margin-bottom: 10px !important;
            }
        }
        h5 {
            @include h5;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 80px;
            @media #{$xs} {
                font-size: 22px !important;
            }
        }
        .block {
            .icon {
                height: 80px;
                width: 80px;
                background: url('../images/sprites-min.png') no-repeat;
                float: none;
                margin: auto;
                &.first {
                    background-position: 0px 0px;
                }
                &.second {
                    background-position: 0px -80px;
                }
                &.third {
                    background-position: 0px -160px;
                }
            }
            .title {
                @include h4;
                margin-bottom: 25px;
                margin-top: 35px;
                @media #{$xs} {
                    font-size: 18px !important;
                }
            }
            .content {
                color: $color2;
                font-size: 15px;
                line-height: 22px;
                padding: 0 15px;
                @media #{$xs} {
                    text-align: left !important;
                }
            }
        }
    }
    .job-cats {
        padding: 80px 0;
        background: #f7f7f7;
        @media #{$xs} {
            padding: 30px 0;
        }
        h2 {
            @include h2;
            margin-bottom: 60px;
            @media #{$xs} {
                font-size: 18px !important;
                margin-bottom: 30px !important;
            }
        }
        .cat-item {
            margin-bottom: 20px;
            display: block;
            overflow: hidden;
            position: relative;
            @media #{$xs} {
                margin-bottom: 5px;
                height: 80px;
                overflow: hidden;
                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -25%;
                }
                .title {
                    position: relative !important;
                    top: 0 !important;
                    line-height: 80px;
                }
            }
            img {
                width: 100%;
            }
            .title {
                position: absolute;
                top: 25%;
                left: 0;
                right: 0;
                color: #FFF;
                font-weight: 700;
                font-size: 16px;
                font-family: $font-sans;
                z-index: 5;
            }
            @include h_f {
                &:after {
                    visibility: visible;
                    opacity: 0.7;
                }
            }
            &:after {
                content: " ";
                background: #3a3c42;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 3;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.2s, opacity 0.2s linear;
            }
            .title {
                position: absolute;
                top: 25%;
                left: 0;
                right: 0;
                color: #FFF;
                font-weight: 700;
                font-size: 16px;
                font-family: $font-sans;
                z-index: 5;
                .icon {
                    background: url('../images/jobcats/cats-sprites.png') no-repeat;
                    width: 60px;
                    height: 60px;
                    margin: 0 auto 5px;
                    &.cat01 {
                        background-position: 0px 0px;
                    }
                    &.cat02 {
                        background-position: 0px -60px;
                    }
                    &.cat03 {
                        background-position: 0px -120px;
                    }
                    &.cat04 {
                        background-position: 0px -180px;
                    }
                    &.cat05 {
                        background-position: -60px 0px;
                    }
                    &.cat06 {
                        background-position: -60px -60px;
                    }
                    &.cat07 {
                        background-position: -60px -120px;
                    }
                    &.cat08 {
                        background-position: -60px -180px;
                    }
                    @media #{$xs} {
                        display: none;
                    }
                }
            }
        }
        &:before {
            content: " ";
        }
    }
    .subscribe {
        padding: 80px 0;
        background: $color7;
        .title {
            text-align: right;
            @media #{$xs_sm} {
                text-align: center;
            }
            h2 {
                @include h2;
                color: #FFF;
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
        .form {
            text-align: left;
            position: relative;
            .input {
                position: relative;
                width: calc(100% - 130px);
                float: left;
                input {
                    background: transparent;
                    border: 1px solid #FFF;
                    border-right: none;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    padding: 5px 10px 5px 50px;
                    line-height: 50px;
                    height: 50px;
                    color: #FFF;
                    outline: 0;
                    width: 100%;
                    &::-webkit-input-placeholder {
                        color: #FFF;
                    }
                    &:-moz-placeholder {
                        color: #FFF;
                    }
                    &::-moz-placeholder {
                        color: #FFF;
                    }
                    &:-ms-input-placeholder {
                        color: #FFF;
                    }
                }
                .fa {
                    position: absolute;
                    top: 15px;
                    font-size: 20px;
                    color: #FFF;
                    left: 20px;
                }
            }
            .submit {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: #FFF;
                color: $color7;
                line-height: 50px;
                height: 50px;
                float: left;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 700;
                width: 130px;
                text-align: center;
                @include h_f {
                    color: $color4;
                }
            }
        }
    }
    .testimonials {
        padding: 60px 0;
        background: url('../images/covers/testimonials-min.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .container {
            @media #{$xlg} {
                width: 1200px;
            }
        }
        .title {
            h2 {
                @include h2;
                color: #FFF;
                margin-bottom: 80px;
                @media #{$xs} {
                    font-size: 22px !important;
                    margin-bottom: 30px !important;
                }
            }
        }
        .row-lg-height .block {
            margin-bottom: 50px !important;
        }
        .block {
            .inner {
                @media #{$xs} {
                    padding: 20px;
                    .content {
                        color: #FFF !important;
                        font-size: 15px !important;
                        font-weight: 400 !important;
                    }
                }
                color: $color2;
                padding: 40px;
                position: relative;
                height: calc(35% );
                border: 3px solid #fff;
                border-bottom-width: 0;
                &:before {
                    content: '';
                    height: 3px;
                    border-bottom: 3px solid #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 53px;
                }
                &:after {
                    content: '';
                    height: 3px;
                    border-bottom: 3px solid #fff;
                    position: absolute;
                    left: 77px;
                    right: 0;
                    bottom: 0;
                }
                .content {
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 700;
                    &:before {
                        content: '';
                        height: 3px;
                        border-bottom: 3px solid #fff;
                        position: absolute;
                        left: 50px;
                        bottom: -14px;
                        width: 30px;
                        height: 30px;
                        border: 3px solid #fff;
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                        border-left-width: 4px;
                        -webkit-transform: rotate(273deg) skew(48deg);
                        transform: rotate(273deg) skew(48deg);
                    }
                }
            }
            .block-bottom {
                height: 80px;
                padding-top: 50px;
                .left {
                    width: 70px;
                    float: left;
                    img {
                        border-radius: 50%;
                        width: 70px;
                        height: 70px;
                    }
                }
                .right {
                    width: calc(100% - 70px);
                    float: right;
                    padding-left: 25px;
                    .name {
                        font-size: 20px;
                        color: #FFF;
                        position: relative;
                        top: 20px;
                        font-style: italic;
                    }
                }
                @media #{$xs} {
                    .left {
                        width: 40px;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .right {
                        float: left;
                        width: calc(100% - 40px);
                        padding-left: 15px;
                        .name {
                            font-size: 16px;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }
    .home-journey {
        background: #f0f0f0;
        padding: 60px 0;
        .title {
            margin-bottom: 50px;
            h2 {
                color: #403b3b;
                font-size: 44px;
                font-weight: 700;
                text-transform: uppercase;
                span {
                    color: #e42129;
                }
            }
            h4 {
                color: #000000;
                font-size: 24px;
                line-height: 35px;
                @media #{$xs} {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        .journey-block {
            color: #6e6263;
            font-family: $font-serif;
            font-size: 24px;
            margin-bottom: 40px;
            @media #{$xs} {
                font-size: 16px;
            }
            .journey-icon {
                width: 55px;
                height: 45px;
                background-size: 55px 45px !important;
                display: block;
                margin: 10px auto;
                &.step1 {
                    background: url('../images/Resized1-min.png') no-repeat;
                }
                &.step2 {
                    background: url('../images/Resized2-min.png') no-repeat;
                }
                &.step3 {
                    background: url('../images/Resized3-min.png') no-repeat;
                }
            }
        }
    }
    .home-testimonial {
        padding: 60px 0;
        background: #f5f5f5;
        .title {
            margin-bottom: 100px;
            h2 {
                color: #403b3b;
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .testimonial-block {
            vertical-align: bottom;
            margin-bottom: 30px;
            @media #{$lg_m} {
                margin-bottom: 80px;
            }
            .block-content {
                border: 2px solid #d0d0d0;
                padding: 20px 70px 15px 15px;
                margin: 0 20px;
                position: relative;
                @media #{$xs} {
                    margin: 0px 20px 0px 0px;
                    padding: 20px 30px 15px 15px;
                }
                .profileImg {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    right: -50px;
                    top: -50px;
                    border-radius: 50% 50% 50% 0;
                    border: 4px solid #FFF;
                    overflow: hidden;
                    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
                    @media #{$xs} {
                        width: 60px;
                        height: 60px;
                        right: -30px;
                        top: -30px;
                    }
                }
                .content {
                    font-size: 16px;
                    font-family: $font-serif;
                    font-weight: 700;
                }
                .name {
                    font-size: 15px;
                    font-style: italic;
                    font-family: $font-serif;
                }
            }
        }
    }
    .home-companies {
        background: #FFF;
        padding: 60px 0;
        @media #{$md_p} {
            .comp-img:nth-child(6) {
                clear: left;
            }
        }
        .title {
            margin-bottom: 60px;
            h2 {
                color: #403b3b;
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        img {
            margin-bottom: 30px;
            transition: all 300ms;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
    .home-bottom {
        background: url('../images/covers/bottom-min.jpg') no-repeat;
        background-size: cover;
        padding: 100px 0;
        position: relative;
        .home-footer {
            position: absolute;
            left: 15px;
            bottom: 15px;
            color: #FFF;
            img {
                width: 120px;
                margin-right: 15px;
            }
        }
        .btn {
            padding: 20px 60px;
            border-radius: 10px;
            font-weight: 100;
            font-size: 19px;
            margin: 30px auto;
            border-bottom: 5px solid #b51e1e;
            @include h_f {
                background: #b51e1e !important;
                color: #FFF !important;
            }
        }
    }
    @media #{$xs} {
        h2 {
            font-size: 17px !important;
            line-height: 25px !important;
            margin: 10px 0 !important;
            text-transform: capitalize !important;
        }
        h1 {
            font-size: 22px !important;
            line-height: 30px !important;
            margin: 20px auto 12px !important;
        }
    }
    @media #{$xxs} {
        h2 {
            font-size: 16px !important;
            margin: 10px auto 10px !important;
            line-height: 25px !important;
        }
        h1 {
            font-size: 25px !important;
            line-height: 28px !important;
            margin: 20px auto 5px !important;
        }
    }
}


.features {
    background: #FFF;
    padding: 80px 0;
    .item {
        padding: 20px;
    }
    h2 {
        text-align: center;
        font-size: 20px;
        font-family: $work-sans;
        text-transform: capitalize;
        color: #3c3c3c;
        font-weight: 700;
        margin-bottom: 60px;
    }
    .icon {
        width: 100px;
        height: 100px;
        margin: 10px auto;
        background: url('../images/features.png') no-repeat;
        background-size: 100%;
        &.item2 {
            background-position: 0 -100px;
        }
        &.item3 {
            background-position: 0 -200px;
        }
        &.item4 {
            background-position: 0 -300px;
        }
    }
    h4 {
        color: $color7;
        font-size: 18px;
        margin-top: 20px;
        font-family: $work-sans;
    }
    p {
        color: $color3;
        font-size: 14px;
        line-height: 23px;
        font-family: $work-sans;
    }
}


.home-section1{
    font-family:sans-serif;
    width:100%;
    background: url('../images/home-section1-bg.jpg') no-repeat;
    background-size:cover;
    > .container{
        position:relative;
    }
    
    .section1-content{
        padding:235px 0 210px;
        
        .title{
            font-size:30px;
            color:#fff;
            margin-bottom:15px;
        }
        .desc{
            font-size:21px;
            color:#f2f2f2;
            margin-bottom:30px;
        }
        .buttons{
            margin-bottom:40px;
            
            a{
                text-align:center;
                width:180px;
                font-size:20px;
                padding:15px 5px;
                display:inline-block;
                
                &:hover{
                    text-decoration:none;
                }
            }
            .join-now{
                background:#ec3c4f;
                color:#fff;
                border-radius:4px 0 0 4px;
                
                &:hover{
                    background-color:#de3244;
                }
            }
            .how-it-works{
                background:#fff;
                color:#ec3c4f;
                border-radius:0 4px 4px 0;
                
                &:hover{
                    background-color:#f4f4f4;
                }
            }
        }
        .employer{
            font-size:18px;
            color:#eee;
            text-decoration:underline;
        }
    }
    
    .search-box{
        background:#fff;
        border-radius:8px;
        position:absolute;
        z-index:2;
        width:100%;
        left:0;
        bottom:-80px;
        box-shadow:0 5px 23px -6px #999;
        
        > div{
            padding:35px 40px 45px;
            border-right:1px solid #e5e5e5;
            float:left;
        }
        > div:last-child{
            padding:50px 0;
            border-right:none;
        }
        > div.col1,div.col2{
            width:36.33333%;
        }
        > div.col3{
            width:27.33333%;
        }
        label{
            font-size:18px;
            color:#a6a6a6;
            margin-bottom:13px;
        }
        .form-control{
            border:none;
            border-bottom:4px solid #ececec;
            box-shadow:none;
            border-radius:0;
            font-size:20px;
            color:#4d4d4d;
            height:46px;
            padding:8px 12px;
            font-style: italic;
        }
        .search-job{
            background: #ec3c4f url('../images/job-search-btn.png') no-repeat;
            padding:20px 67px 20px 63px;
            color:#fff;
            font-size:18px;
            text-shadow:1px 1px 2px rgba(0,0,0,0.6);
            border-radius:5px 0 0 5px;
            float:right;
            border:none;
            position:relative;
            margin-right:-6px;
            
            &:before{
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-top: 6px solid #ae646c;
                border-right: 6px solid transparent;
                right: 0;
                bottom: -6px;
            }
            &:after{
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-bottom: 6px solid #ae646c;
                border-right: 6px solid transparent;
                right: 0;
                top: -6px;
            }
        }
    }
    
}

.home-section2{
    padding:160px 0 90px;
    background:#f9f9f9;
    
    .section-title{
        font-size:30px;
        color:#ec3c4f;
        text-align:center;
        margin-bottom:15px;
    }
    .section-desc{
        font-size:20px;
        color:#989898;
        text-align:center;
        margin-bottom:55px;
    }
    .items{
        
        .item{
            display:inline-block;
            float:none;
            vertical-align:middle;
            width:11.111111111%;
            text-align:center;
            padding:0 5px;
            margin-bottom:30px;
            
            img{
                max-width:100%;
            }
        }
    }
}



.home-section3{
    padding:90px 0 100px;
    
    .section-title{
        font-size:30px;
        color:#5f5f5f;
        text-align:center;
        margin-bottom:15px;
    }
    .section-desc{
        width:100%;
        max-width:820px;
        margin:0 auto;
        font-size:20px;
        color:#989898;
        text-align:center;
        position:relative;
        margin-bottom:95px;
        
        &:before{
            content:' ';
            background:#f6a7b0;
            width:100%;
            height:1px;
            position:absolute;
            top:50%;
            left:0;
        }
        span{
            background:#fff;
            padding:0 20px;
            display:inline-block;
            position:relative;
        }
    }
    .mobile-pic{
        float:right;
        margin-right:25px;
    }
    .steps{
        margin-top:60px;
                
        .step{color:#ccc;
            margin-bottom:60px;
            
            .step-img{
                float:left;
                margin-right:50px;
            }
            .step-title{
                font-size:24px;
                color:#ec3c4f;
                margin-bottom:15px;
            }
            .step-desc{
                font-size:18px;
                color:#4f4f4f;
            }
        }
    }
}


.home-section4{
    padding:70px 0;
    background:#ec3c4f;
    
    .numeric-item{
        
        span{
            display:block;
            text-align:center;
            text-shadow:2px 2px 1px rgba(0,0,0,0.3);
        }
        .numeric-number{
            color:#fff;
            font-size:48px;
        }
        .numeric-label{
            color:#fff;
            font-size:22px;
        }
    }
}


.home-section5{
    background-color: #fafafa;
    padding: 100px 0 140px;
    
    .section-title{
        font-size: 30px;
        color: #757575;
        margin-bottom:80px;
    }
    .section-desc{
        font-size: 22px;
        color: #555555;
        margin-bottom:35px;
    }
    .job-search{
        margin: 0 auto;
        max-width: 200px;
        display: block;
        border-radius: 8px;
        border: 1px solid #ec3c4f;
        font-size: 16px;
        color: #ec3c4f;
        padding: 12px 10px;
        
        &:hover{
            color:#FFF;
            background-color: #ec3c4f;
        }
        .fa{
            margin-right:6px;
        }
    }
    .categories{
        margin-bottom: 70px;
        width: 100%;
        
        .item{
            float: left;
            background-color: #fff;
            border-radius: 10px;
            width: 100%;
            box-shadow: 0px 6px 9px #00000004;
            
            .cat-img{
                width: 100%;
                height:auto;
            }
            .cat-info{
                padding: 0 25px;
                margin: 20px 0;
                
                .cat-info-title a{
                    font-size: 20px;
                    color: #ec3c4f;
                    
                    &:hover{
                        text-decoration:none;
                    }
                }
                .cat-info-stat{
                    font-size: 16px;
                    color: #4d4d4d;
                }
            }
        }
    }
}


.home-section6{
    background-image: url('../images/section6-bg.png');
    background-size: cover;
    padding: 150px 0 110px;
    
    @media(max-width: 992px) {
        background-image: none;
        background-color: #797f83;
    }
    
    .section-title{
        color: #fff;
        font-size: 26px;
        margin-bottom: 80px;
    }
    .testimonials{
        @media(max-width: 992px) {
            max-width: 420px;
            min-width: 310px;
            margin-right: auto;
            margin-left: auto;
        }
        
        .item{
            width: 100%;
            margin-bottom: 50px;
            
            .testimonial-img{
                max-width: 110px;
                height: 110px;
                border-radius: 200px;
                border: 1px solid #fff;
                padding: 4px;
                margin: 0 auto;
                
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 200px;
                }
                &:before{
                    content: '';
                    height: 1px;
                    width: 90px;
                    background-color: #b0b0b0;
                    position: absolute;
                    top: 55px;
                    left: 25px;
                    
                    @media(max-width: 1200px) {
                        width: 70px;
                    }
                    @media(max-width: 992px) {
                        content:none;
                    }
                }
                &:after{
                    content: '';
                    height: 1px;
                    width: 90px;
                    background-color: #b0b0b0;
                    position: absolute;
                    top: 55px;
                    right: 25px;
                    
                    @media(max-width: 1200px) {
                        width: 70px;
                    }
                    @media(max-width: 992px) {
                        content:none;
                    }
                }
            }
            .testimonial-name{
                color: #fff;
                font-family: sans-serif;
                font-size: 22px;
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .testimonial-content{
                color: #fff;
                max-width: 400px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 30px;
                font-size: 17px;
                font-style:italic;
            } 
            
        }
    }
}


.home-section7{
    padding:100px 0 120px;
    
    .section-title{
        color:#ec3c4f;
        font-size:30px;
        text-align:center;
        margin-bottom:65px;
    }
    .company-trusted{
        
        .item{
            width:50%;
            float:left;
            padding:0 40px 0 0;
            margin:0 0 80px;
            
            &:nth-child(2n){
                padding:0 0 0 40px;
            }
            &:nth-child(2n+1){
                clear:both;
            }
            
            .company-trusted-img{
                float:left;
            }
            .company-trusted-title{
                font-size:25px;
                padding-left:130px;
                margin:0 0 20px;
                font-style:italic;
            }
            .company-trusted-desc{
                font-size:16px;
                padding-left:130px;
                font-style:italic;
                color:#757575;
            }
        }
    }
    .logos{
        .item{
            display:inline-block;
            float:none;
            vertical-align:middle;
            width:11.111111111%;
            text-align:center;
            padding:0 5px;
            margin-bottom:30px;
            
            img{
                max-width:100%;
            }
        }
    }
}


.home-section8{
    padding:100px 0 60px;
    background:#f5f5f5;
    
    .section-title{
        font-size:30px;
        color:#282828;
        text-align:center;
        margin-bottom:30px;
    }
    .section-desc{
        font-size:21px;
        color:#666666;
        text-align:center;
        margin-bottom:30px;
    }
    .sign-up{
        background:#ec3c4f;
        color:#fff;
        height:54px;
        line-height:54px;
        width:210px;
        margin:0 auto;
        padding: 0;
        font-size:19px;
        display: block;
        border-radius:8px;
        
        .fa{
            margin-right:8px;
        }
        
        &:hover{
            background:#cc293b;
            color:#fff;
        }
    }
}


