@import "settings";
@import "bs-5columns";
@import "bs-col-xl";
@import "bs-faux-columns";
@import "bootstrap";
@import "mixins";
@import "fa.css";


#header {
    // background-color: red;
    z-index: 50;
    position: relative;
    font-size: 13px;
    &.red {
        @media #{$xs_p} {
            position: initial;
            top: auto;
            left: auto;
            right: auto;
            background-color: $c-red;
        }
    }
    @media #{$xs} {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
    }
}

@media #{$xs_p} {
    #user-collapse,
    #company-collapse {
        display: none !important;
    }
}

@media #{$xs} {
    #header+.body-wrap {
        padding-top: 70px;
    }
    #header.red+.body-wrap {
        // padding-top: 0;
    }
}

.navbar {
    border: 0;
    margin-bottom: 0;
    text-align: center;
    @media #{$xs} {
        min-height: auto !important;
    }



    .nav-primary-wrapper {
        background-color: $c-red;
        .container {
            position: relative;
            @media #{$sm_md} {
                width: 100%;
            }
        }
    }
    .switcher {
        float: left;
        @media #{$sm_md} {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 50px;
        }
        a {
            line-height: 58px;
            padding: 0px 5px 10px 5px;
            margin-left: 20px;
            font-family: $work-sans;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            text-decoration: none !important;
            position: relative;
            &:first-child:after {
                content: "|";
                color: #FFF;
                position: absolute;
                right: -15px;
            }
            &.active {
                border-bottom: 3px solid $color7;
                font-weight: 700;
            }
        }
    }
}


.navbar:not(.trans):not(.gray) {
    .nav-primary-wrapper {
        @media #{$xs_p} {
            .navbar-nav {
                >li {
                    border-left: 1px solid #c1000d;
                    a {
                        @include h_f {
                            background-color: $c-red-hover !important;
                        }
                    }
                }
            }
        }
        @media #{$xs} {
            .navbar-toggle {
                border-left: 1px solid #c1000d;
                @include h_a_f {
                    background: $c-red-hover !important;
                }
            }
        }
    }
}





.navbar-nav {

    @media #{$xs} {
        >.active>a {
            color: $c-red;
            background-color: #fff;
        }
        >li>a {
            color: #fff;
            @include h_f {
                background-color: $c-red-dark;
                color: #fff;
                text-decoration: none;
            }
        }
        .dropdown-menu {
            border-left: 3px solid $c-red !important;
            margin-left: -5px;
        }
    }
}

.navbar-brand {
    height: auto;
    padding: 5px 0 !important;
    @media #{$xs} {
        padding-left: 15px !important;
    }
    img {
        max-width: 120px;
        padding-top: 10px;
        @media #{$xs} {
            max-width: 90px;
            padding-top: 6px;
        }
    }
}

.navbar-collapse {
    border: none;
    @media #{$xs} {
        background-color: #FFF;
        padding: 0;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
        .nav {
            margin: 0;
        }
    }
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 28px;
    border-radius: 0;
    @media #{$xs} {
        padding: 10px;
        height: 45px;
        #nav-icon {
            width: 24px;
            top: -9px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 24px;
                background: #FFF;
                border-radius: 4px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    top: 7px;
                }
                &:nth-child(4) {
                    top: 14px;
                }
            }
            &.open {
                span {
                    &:nth-child(1) {
                        top: 6px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 6px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
    .fa.fa-bars {
        color: #FFF;
        font-size: 22px;
        width: 22px;
        &:before {
            content: "\f00d";
        }
    }
    .fa.fa-user {
        color: #FFF;
        font-size: 22px;
        width: 22px;
        padding-top: 5px;
    }
    &.collapsed {
        background-color: transparent;
        .fa.fa-bars:before {
            content: "\f0c9";
        }
    }
    .icon-bar {
        background-color: #fff;
    }
}

.user-icon {
    padding: 15px 0;
    color: #FFF;
    font-size: 20px;
    @media #{$xs} {
        padding: 6px 10px;
        height: 45px;
    }
    @include h_a_f {
        color: #FFF !important;
    }
}

.nav-primary {
    padding-left: 0;
    padding-right: 0;

    li {
        &.active {
            a {
                border-bottom-color: #fff;
            }
        }
        a {
            @include h_f {
                background-color: transparent;
            }
            padding: 5px 25px;
            color: #fff;
            display: block;
            border-bottom: 2px solid transparent;
            .fa {
                margin-right: 5px;
                font-size: 15px;
            }
            @include h_f {
                //border-bottom-color: #fff;
                text-decoration: none;
            }
            @media #{$xs} {
                @include h_f {
                    background-color: #f3f3f3 !important;
                    color: $color3;
                }
            }
            @media #{$sm} {
                padding: 5px 10px !important;
            }
        }
        .dropdown-menu {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            li {
                &:before {
                    display: none !important;
                }
                a {
                    line-height: 35px !important;
                }
            }
        }
    }
    @media #{$xs} {
        display: none;
        background: #FFF;
        transition: none !important;
        position: fixed;
        left: 0px;
        right: 45px;
        top: 0px;
        bottom: 0px;
        z-index: 100000;
        padding-left: 20px;
        overflow-y: scroll;
        height: 100%;
        box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.22);
        li {
            position: relative;
            a {
                border: 0;
                background-color: transparent;
                color: $color3;
                text-align: left !important;
                padding: 15px 25px;
            }
            &:before {
                content: " ";
                position: absolute;
                left: 25px;
                right: 25px;
                height: 1px;
                bottom: 0px;
                background: #f4f4f4;
                overflow: hidden;
            }
        }
    }
    @media #{$xs_p} {
        a {
            // min-height: 70px;
            line-height: 48px !important;
            display: inline-block;
        }
    }
}

.nav-user-image {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50%;
    background-size: cover;
    float: left;
    background-position: center center;
    @media #{$xs} {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .scoot-initials {
        height: 35px;
        width: 35px;
        line-height: 50px;
        font-size: 25px;
        top: 5px;
    }
}

#header {
    .login-dropdown {
        @media #{$xs} {
            background: #FFF !important;
            color: $color3 !important;
            width: 100%;
            .dropdown.open a {
                background: #FFF !important;
                color: $color3 !important;
            }
            .dropdown.open {
                .dropdown-menu a {
                    padding: 5px 15px 5px 25px !important;
                    line-height: 35px !important;
                }
            }
            @include h_a_f {
                background: #FFF !important;
                color: $color3 !important;
            }
        }
    }

    .dropdown {
        &.open {
            a {
                background-color: $c-red;
                color: rgba(255, 255, 255, 0.75);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                @include h_f {
                    color: #fff;
                    background-color: $c-red-hover !important;
                }
                @media #{$xs} {
                    background-color: inherit !important;
                    @include h_a_f {
                        color: inherit !important;
                        background-color: inherit !important;
                    }
                }
            }
        }
        .dropdown-menu {
            padding: 0;
            background: $c-red;
            @media #{$xs} {
                background: transparent !important;
            }
            a {
                text-align: left;
                padding: 8px 8px 8px 15px;
                font-size: 13px;
                min-height: 0;
                line-height: 2 !important;
                @include h_f {
                    background-color: $c-red;
                    color: #fff;
                }
                @media #{$xs} {
                    @include h_f {
                        background-color: #f1f1f1 !important;
                        color: $color3 !important;
                    }
                    text-align: center;
                }
            }
        }
    }
    .navbar.trans {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        .nav-primary-wrapper {
            @media #{$xs_p} {
                background: transparent !important;
            }
        }
        .dropdown {
            &.open {
                a {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: rgba(255, 255, 255, 0.75);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    @include h_f {
                        color: #fff;
                        background-color: rgba(255, 255, 255, 0.2) !important;
                    }
                }
            }
            .dropdown-menu {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0;
                a {
                    @include h_f {
                        background-color: rgba(255, 255, 255, 0.2);
                        color: #fff;
                    }
                }
            }
        }
    }
    .navbar.reverse {
        * {
            @media #{$xs_p} {
                color: $color2 !important;
            }
        }
    }
    .navbar.gray {
        * {
            @media #{$xs_p} {
                color: $color2 !important;
            }
        }
        .navbar-toggle #nav-icon span {
            background: #a1a1a1;
        }
        .user-icon {
            color: #a1a1a1;
        }
        .nav-primary-wrapper {
            background: #f1f1f1;
        }
        .fa.fa-bars {
            color: #888;
        }
        .dropdown {
            &.open {
                a {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: rgba(255, 255, 255, 0.75);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    @include h_f {
                        color: #fff;
                        background-color: rgba(255, 255, 255, 0.2) !important;
                    }
                }
            }
            .dropdown-menu {
                background: rgba(255, 255, 255, 1);
                box-shadow: 0;
                a {
                    @include h_f {
                        background-color: rgba(255, 255, 255, 0.2);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.footer {
    background: $color3;
    padding-top: 60px;
    color: $color5;
    position: relative;

    &.col-custom-right {
        .container {
            width: 90% !important;
        }
    }
    .footer-top {
        padding-bottom: 30px;
    }

    .left-main {
        @media #{$sm} {
            padding-left: 60px;
        }
        @media #{$xs} {
            padding-left: 30px;
        }
    }
    li>a {
        color: $color5;
        @include h_f {
            color: #FFF;
        }
    }
    .logo {
        img {
            max-width: 150px;
            margin-bottom: 20px;
        }
    }
    .description {
        font-size: 14px;
    }
    .social-menu {
        margin-top: 20px;
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding-right: 20px;
                a {
                    color: $color5;
                    .fa {
                        font-size: 20px;
                    }
                    @include h_f {
                        color: #FFF;
                    }
                }
            }
        }
    }

    #more-jobs {
        @media #{$xs_p} {
            display: inherit !important;
        }
    }
    .menu-block {
        position: relative;
        ul {
            list-style: none;
            padding-left: 0;
            @media #{   $xs_p} {
                padding-left: 30px;
            }
            li {
                >a {
                    line-height: 30px;
                    font-size: 14px;
                    &.white {
                        color: #FFF !important;
                        text-decoration: underline !important;
                    }
                }
            }
        }
        &.main {
            ul li>a {
                color: #FFF;
            }
            @media #{$lg_p} {
                &:before {
                    content: " ";
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: $color2;
                }
                &:after {
                    content: " ";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: $color2;
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid $color2;
        padding: 20px 0 40px 0;
        ul {
            list-style: none;
            text-align: right;
            padding: 0;
            @media #{$xs} {
                display: block;
                float: left !important;
                width: 100%;
                text-align: left;
                li {
                    padding-left: 0 !important;
                    padding-right: 20px;
                }
            }
            li {
                display: inline-block;
                padding-left: 20px;
                >a {
                    font-size: 14px;
                }
            }
        }
    }
}



.page {
    padding: 80px 0;
    .title {
        h1 {
            @include h2;
        }
    }
}

.toc-sidebar {
    .nav-tabs>li>a {
        border-radius: 0 !important;
        padding: 4px 10px !important;
        font-size: 13px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border-left: 3px solid #ec3c4f !important;
        border: none;
        padding: 15px 10px;
        font-weight: bold;
    }
    ul {
        width: 100%;
        li {
            width: 100%;
            display: block;
        }
    }
}


.arrow-bounce {
    position: absolute;
    margin: 0 auto;
    bottom: 160px;
    color: #FFF;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounceupdown 2s infinite;
    z-index: 60;
    cursor: pointer;
}

@-webkit-keyframes bounceupdown {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
    }
}

.scoot-block {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #3c5181;
}